<div class="row">
   <div *ngIf="!showAuthStatus"  class="col text-center mt-4">
       <p> Please Wait ... While we're Authenticating !!! </p>
   </div>

   <div *ngIf="showAuthStatus" class="col mt-3 text-center">
           Authenticated {{authStatus ? "Success" :"Failed ... Authenticating With SMS-OTP Flow "}}
   </div>
</div>