<div class="home">
    <h1 class="text-center mt-5">MOBILE IDENTITY AS A SERVICE</h1>
    <div class="mt-5 main d-flex flex-column align-items-center">
        <img src="assets/welcome.png" alt="">
    </div>
    <div class="container">
        <h3>What Is MIDaaS?</h3>
        <p>MIDaaS is a secure universal log-in solution. Simply by matching the user to their mobile phone, MIDaaS
            allows them to log-in to websites and applications quickly without the need to remember passwords and
            usernames. It’s safe, secure and no personal information is shared without permission.</p>


    </div>
</div>