.home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .header{
        background: rgb(54, 54, 255);
        color: white;
        padding: 1rem;
    }
    
    button{
        padding: .4rem .9rem;
        border-radius: 4px;
        font-weight: 600;
        border:0px;
    }

    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 40%;
        }
    }
}

