<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="https://rnd.rmlconnect.net/rml-support-panel-ui/assets/images/Logo_white.png" width="125"
                    alt="MDB Logo" loading="lazy" />
            </a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="/main/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" routerLink="/main/about">About</a>
                </li>

            </ul>

        </div>

        <div class="d-flex align-items-center">

            <a class="text-reset me-3" title="Logout" routerLink="/login" (click)="logout()">
                <i class="fas fa-sign-out-alt fa-lg" style="color: white;"></i>
            </a>
        </div>

    </div>

</nav>

<router-outlet></router-outlet>