<ngx-spinner></ngx-spinner>
<div class="container">
  <form class="form" [formGroup]="loginForm">
    <div class="card-title d-flex justify-content-end mb-5 ">
      <img src="https://res.cloudinary.com/dl9l0rxjk/image/upload/v1537535749/images/Logo.png" height="40"
        alt="Routemobile">
    </div>

    <p class='m-0' for="username" style="opacity: .8;">Enter your mobile number to login</p>
    <div class="md-form mt-4 form-md md-outline pos-rel number-input">
      <input type="text" id="username" class="form-control form-control-lg" (keypress)="isNumber($event)"
        formControlName="msidn" autocomplete="off" />
      <!-- <div class="prefix-value" [ngClass]="{'d-block' : loginForm.valid}">+91</div> -->
    </div>


    <button class="my-3 waves-effect" (click)="submit()"><b>Submit</b></button>

  </form>
</div>