.prefix{background-color: #1266f1;width:80px;height:80px;border-radius:50%;color:#fff;display: flex;align-items: center;justify-content: center;}
.prefix i{font-size:20px}
.prefix-value{position: absolute;color:#67757c;font-size:1rem;
    left: 10px;
    bottom:8px;display:block}
input:focus + .prefix-value{display:block}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        background: white;
        padding: 1.5rem;
        border-radius: 4px;
        width: 90vw;
        max-width: 450px;
        button{
            background: rgb(52, 106, 255);
            color: white;
            padding: .4rem;
            width: 100%;
            border: 0px;
            border-radius: 4px;
        }
    }
}
