/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* @import "~ng-pick-datetime/assets/style/picker.min.css"; */

* {
    padding: 0;
    margin: 0;
    outline: none
}
html,body{min-height: 100%;background-color:#fbfbfb}

*::-webkit-scrollbar,
body::-webkit-scrollbar {
    z-index: 30;
    width: 10px;
    height: 7px;
}

*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #666;
}

*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #666;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

body,
table {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

button:disabled {
    cursor: not-allowed;
}

input:focus {
    outline: none !important
}

html,
body,
app-root {
    display: block;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #1a2d2d;
    outline: none;
    background: #ededed;
}

button:focus {
    outline: none !important
}

.btn {
    height: 38px;
    padding: 7px 12px;
    line-height: 23px;
    min-width: 100px
}

.btn:hover {
    box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #1769ff33
}

.container {
    max-width: 1140px;
}

.pos-rel {
    position: relative;
}

.ct-pt {
    padding-top: 120px;
    position: relative;
    margin-bottom: 50px
}

.inline-block {
    display: inline-block
}

.cursor-pointer {
    cursor: pointer
}

.mt-20 {
    margin-top: 20px;
}

.w-100 {
    width: 100%
}

.form-control {
    color: #67757c;
    min-height: 38px;
    display: initial;
}

.popover {
    padding: 10px 15px;
    min-width: 200px
}

.form-group label {
    /* text-transform: capitalize */
}


/* header */

header {
    box-shadow: 3px 3px 4px 2px #dadada;
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
}


/* nav ul{margin-left:100px} */

.nav-item {
    margin-left: 20px
}

.nav-item a {
    color: #1a2d2d;
    font-weight: 600
}

.nav-item a.active {
    background: #1e88e5;
    color: #fff;
    border-radius: 10px;
}


/* .nav-item:hover a{color:#67757c} */


/* numbers page */

.table th,
.table td {
    color: #67757c;
    word-wrap: break-word;
    white-space: nowrap;
}

.table th {
    border-top: none;
    text-transform: capitalize
}

.table td {
    font-weight: 400;
    border-top: 1px solid #f3f1f1;
}

.table tr td .fa-edit {
    cursor: pointer;
}

.show-form {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    background: #fff;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    transition: box-shadow .08s linear;
}

.show-form .fa-plus {
    line-height: 50px;
    color: #67757c
}

.show-form:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149)
}

.show-form:hover .fa-plus {
    color: #1a2d2d
}

.numbers .form {
    min-width: 400px;
    position: relative;
}

.numbers .form .form-cotrol {
    width: calc(100% - 50px)
}

.numbers .form .btn-info {
    position: absolute;
    width: 50px;
    text-align: center;
    right: 0;
    top: 0;
    height: 100%;
}


/* edit form */

.side-form {
    position: fixed;
    right: 0;
    width: 420px;
    overflow: hidden;
    height: 100%;
    padding: 90px 0 20px;
    top: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.14), 0 11px 18px 0 rgba(0, 0, 0, 0.12), 0 13px 5px -1px rgba(0, 0, 0, 0.2);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-property: max-width;
    transition-duration: .35s;
    max-width: 0;
}

.side-form .fa-times {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    right: 20px;
    top: 10px;
    -webkit-text-stroke: 3px #fff;
    color: #1a2d2d;
    z-index: 2;
    transition: color .08s linear;
}

.side-form .fa-times:hover {
    color: #1a2d2d
}

.form-wrapper {
    padding: 0 25px;
    height: 100%;
    overflow-y: auto
}

.side-form h5 {
    position: relative;
    padding-bottom: 10px;
    font-weight: 700;
}

.side-form h5:after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #1a2d2d;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%)
}

.btn-wrap {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
}

.side-form .card-title {
    color: #67757c;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    font-weight: 600
}

.card-title span {
    color: #e2aa55;
    font-size: 16px;
}

.btn.btn-info {
    background-color: #1e88e5;
    border: 1px solid #1e88e5;
}

.max-width {
    max-width: 420px;
}


/* login page */


/* datepicker */

.flatpickr-input {
    background-color: #fff !important
}

.swal2-title {
    font-size: 20px !important;
    font-weight: 500 !important
}

.form-signin .form-control {
    height: 42px;
    line-height: 42px;
}

.form-signin {
    box-shadow: 0 0 10px 2px #dadada;
    border-radius: 10px
}

/* .form-signin button {
    height: 60px;
} */

.mb-50 {
    margin-bottom: 50px
}

.mb-30 {
    margin-bottom: 30px
}

.ng-select-disabled .ng-select-container {
    background-color: #e9ecef!important
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #6b7581 !important;
}
.btn-rounded{border-radius: 10em}
.btn.btn-sm{font-size:0.74rem}
.btn.btn-md{font-size:1rem}
.md-form.form-lg .prefix{top: 1.2rem;
    font-size: 1.2rem;left:10px;
}
@-webkit-keyframes autofill {
    to {
      color: #666;
      background: transparent; } }
  
  @keyframes autofill {
    to {
      color: #666;
      background: transparent; } }
  
  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
/* input.ng-invalid + label{color: #ff3547} */
/* input.ng-invalid{border-bottom: 1px solid #ff3547;} */

/* radio button  */
.cust-radio input[type="radio"]{display: none;}
.cust-radio input[type="radio"] + label{position: relative;display:block;padding:10px 15px 15px 40px;font-size:14px;line-height:20px;
  cursor: pointer;transition: all .1s ease-in-out;margin-bottom:0;display: inline-block;
  background: #fff;margin-right: 10px;height: 40px;border-radius: 20px;}

.cust-radio input[type="radio"] + label:before, input[type="radio"] + label:after{  content: '';  position: absolute;
  top:50%;transform:translateY(-50%);  left:15px;  width: 20px;  height: 20px;  text-align: center;  color: #f5f5f5;  font-family: Times;
  border-radius: 50%;  transition: all .1s ease;}

  .cust-radio input[type="radio"] + label:before {box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #3E6AE1;}
  .cust-radio input[type="radio"] + label:hover:before {animation-duration: .1s;animation-name: change-size;
  animation-iteration-count: infinite;animation-direction: alternate;box-shadow: inset 0 0 0 1px #3E6AE1, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #3E6AE1;}
  .cust-radio input[type="radio"]:checked + label:hover {color: #3E6AE1;cursor: default;}
  .cust-radio input[type="radio"]:checked + label:before {animation-duration: .1s;animation-name: select-radio;
  animation-iteration-count: 1;animation-direction: Normal;box-shadow: inset 0 0 0 1px #3E6AE1, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #3E6AE1;}
@keyframes change-size {
  from {
    box-shadow: 0 0 0 0 #3E6AE1, inset 0 0 0 1px #3E6AE1, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #3E6AE1;
  }
  to {
    box-shadow: 0 0 0 1px #3E6AE1, inset 0 0 0 1px #3E6AE1, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #3E6AE1;
  }
}
@keyframes select-radio {
  0% {
    box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #3E6AE1, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #3E6AE1;
  }
  90% {
    box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #3E6AE1, inset 0 0 0 2px #FFFFFF, inset 0 0 0 16px #3E6AE1;
  }
  100% {
    box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #3E6AE1, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #3E6AE1;
  }
}

.backarrow{position:absolute;bottom:15px;right:25px;font-size:16px;font-weight:700;cursor: pointer;}
.pos-rel{position:relative}

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }
    /* .navbar-collapse{align-items:left !important} */
    .navbar-toggler-icon {
        /* background: url(assets/ham.png)no-repeat center; */
        background-size: cover
    }
    .navbar-nav .nav-link {
        padding: 0.3rem .6rem
    }
}

.has-icon .form-control {
    padding-left: 2.375rem;
}

.has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media only screen and (max-width:576px){
    .main{
        img{
            width: 100% !important;
        }
    }
}